
.video-player-container {
  color: #fdfdfd;
  font-size: 1.1rem;
  width:50%;
 
}

.youtubeButtons {
  margin:3px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid white;
  background-color: #037EBC;
  color: white;
  height: 30px;
  max-width: 100px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.youtubeButtons:hover,
.youtubeButtons:focus {
  color: #037EBC;
  background-color: #fdfdfd;
  border-color: #037EBC;
  cursor: pointer;
  font-weight: bold;
}
@media (min-width: 1px) and (max-width: 50em) {
  .video-player-container {
    width: 95%;
    margin: 0 auto;
  }
}
