.login-form {
  max-width: 400px;
  max-height: 450px;
  background-color: rgb(36, 34, 34);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0 5% 10px 5%;
  margin: auto;
  width: 100%;
}

.login-form h2{
  font-size: 2.2rem;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
}