.form-redirect-container {
  text-align: right;
}

.form-redirect-btn {
  border: 2px solid #fdfdfd;
  font-size: 0.875em;
  padding: 0.5em;
  color: #fdfdfd;
  background-color: #462749;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); 
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}

.form-redirect-btn:hover {
  color: #462749;
  background-color: #fdfdfd;
  border-radius: 25px;
  border-color: #462749;
}

i {
  color: #508991;
  color: #172A3A;
  color: #004346;
}