.site-logo {
  /* float: left; */
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Ubuntu', cursive;
  margin: 0;
  text-align: center;
}

.classroom-header {
  /* display: flex; */
  font-size: 1.4rem;
  background-color: #2B2B2B;
  max-width: 100%;
  padding:0px;

  /* min-height: 5em;
  height: 7em; */
}
.navLinks {
  position: absolute;
  top: 15px;
  left: 10px;
  display:flex;
}

.nav-link {
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #BDD688;
}

.modalContainer {
  position: absolute;
  top:10px;
  right: 110px;
}
.modal { 
  border: 1px solid #fdfdfd;
  margin-top:4px;
  margin-right:4px;
  border-radius:25px;
  font-size: 0.75em;
  padding: 0.5em;
  color: #fdfdfd;
  background-color: #95AB63;
  transition: all 0.2s ease-in-out;
}

.modal:hover,
.modal:focus {
  color: #95AB63;
  background-color: #fdfdfd;
  border-radius: 25px;
  border-color: #95AB63;
  cursor: pointer;
}

@media (min-width: 1em) and (max-width: 800px) {
  .navLinks {
    position: inline;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .site-nav ul {
    margin: 10px auto;
  }
  .classroom-header  {
    font-size: 1rem;
  }
}
.form-redirect-link {
  color: #2B2B2B;
  background-color: #BDD688;
  -webkit-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.35);
}
.form-redirect-link:hover,
.form-redirect-link:focus {
  transition: 0.15s;
  transform: scale(1.02);
  cursor: pointer;

  -webkit-box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
}

@media (min-width: 1px) and (max-width: 560px) {
  .form-redirect-container,
  .modalContainer {   
    font-size: 3.5vw;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .modalContainer{
    right:80px;
  }
} 
@media (min-width: 0px) and (max-width: 500px) {
  .modalContainer{
    left:10px;
  }
}  

@media (max-width: 700px) {
  .site-nav ul{
    justify-content: center;
  }
}
.site-nav a {
  color: white;
}