.auth-nav {
  margin: auto;
  max-width: 50%;
}

.auth-button {
  width: 50%;
  height: 30px;
  border: 1px solid grey;
  outline: none;
}

.auth-button:hover,
.auth-button:focus {
  cursor: pointer;
}

.active {
  border-bottom: none;
  background-color: white;
}