/* .auth-container {
  margin: auto;
  max-width: 1000px;
}

.auth-components {
  margin: auto;
  max-width: 50%;
  border: 1px solid grey;
  height: 450px;
  position: relative;
  border-top: none;
} */