.register-form {
  max-width: 400px;
  max-height: 500px;
  background-color: #2B2B2B;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0 5% 10px 5%;
  margin: auto;
  width: 100%;
}

.register-form h2{
  font-size: 2.1rem;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
}