.main-header {
  font-size: 1.4rem;
  background-color: #75DDDD;
  max-width: 100%;
  padding: 1.5em 4%;
  min-height: 12em;
}

.main-header a {
  text-decoration: none;
}

.site-logo {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates', cursive;
  margin: 0;
  text-align: center;
  padding-top: 2em;
  text-shadow: 0 1px 0 #75DDDD,
               0 2px 0 #75DDDD,
               0 3px 0 #75DDDD,
               0 4px 0 #75DDDD,
               0 5px 0 #75DDDD,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}

/* Monoton|Montserrat+Alternates:700|Montserrat+Subrayada:700 */