.auth-container {
  margin: auto;
  max-width: 1000px;
}

.auth-components {
  margin: auto;
  max-width: 50%;
  border: 1px solid grey;
  height: 450px;
  position: relative;
  border-top: none;
}

.auth-nav {
  margin: auto;
  max-width: 50%;
}

.auth-button {
  width: 50%;
  height: 30px;
  border: 1px solid grey;
  outline: none;
}

.auth-button:hover,
.auth-button:focus {
  cursor: pointer;
  }


.active {
  border-bottom: none;
  background-color: white;
}
.auth {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

/* .auth button {
  width: 100%;
  height: 30px;
  background-color: rgb(252, 255, 97);
  border: 1px solid grey;
  margin: 5px 0 30px 0;
} */

.form-input {
  margin: 20px 0;
}

.form-input input {
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  height: 30px;
  padding-left: 10px;
}

.form-input label {
  display: block;
}
.register-form {
  display: none;
}
.login-form input {
  margin-bottom: 40px;
}

.text-input {
  width:200px;
  border-radius:5px;
  height:25px;
  background-color:#f7f7f7;
} 

/*added styles*/
.auth-button:hover {
  color:white;
  background-color:grey;
}
.auth button:hover {
  color:#5eabc5;
   background-color:grey; 
 }
 .login-form {
  border: solid grey 2px;
  font-size: 24px;
  background-color: white;
  border-radius: 5px;
  padding:15px;
} 
.form-input input {
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  height: 30px;
  padding: 15px 0px 18px 8px;
  margin:2px;
}
.auth button {
  width: 100%;
  /* height: 30px; */
  background-color:#5eabc5;
  border: 1px solid grey;
  margin: 5px 0 30px 0;
  padding:10px;
}


/*
.signupForm {
  margin:10px;
  width: 30%;
  border: solid black 2px;
  display:inline-block
}

.signUpLabel,
.signUpButton,
.signUpInput {
  margin:50px;
  border-radius:5px;
}

.signUpButton:hover {
  color:#8FCFDE;
  background-color:#454545
}
 
.userSignInHeader {
  margin-bottom: 5px;
  font-size:26px;
  text-align: center;
}
.loginPage {
  margin: 75px auto;
  width: 250px;
  display:block;
}
 .login-form {
  border: solid #8FCFDE 2px;
  font-size: 24px;
  background-color: white;
  border-radius: 5px;
  padding:15px;
} 
.signInLabel {
  margin:50px;
  padding:2px;
}
/* .form-input {
  background-color:#f7f7f7;
}
.signInButton {
  margin-top:10px;
  width:200px;
  background-color:#8FCFDE;
  border-radius:5px;
  color:white;
  height:35px;
}
.signUpPasswordConfirmLabel {
  padding:2px;
  margin: 10px;
}
.signInButton:hover {
  color:#8FCFDE;
  background-color:#454545;
}
 */
/* form-error
login-form
auth
form-error
form-warning
form-input
auth-container
auth-components
auth-nav
auth-button 
active */