.auth-nav {
  margin: 20px auto 0 auto;
  max-width: 100%;
  width: 101%;
  max-width: 400px;
  height: 40px;
}

.auth-nav button {
  width: 50%;
  height: 40px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
}

.auth-nav button:hover,
.auth-nav button:focus {
  cursor: pointer;
}

.active {
  background-color:#BDD688;
  transition: 0.1s;
}

#login-button.active{
  transform: scale(1.1) translateX(4.8%);
}
#register-button.active{
  transform: scale(1.1) translateX(-5%);
}

#login-button, #register-button{
  transition: 0.1s
}
