.auth-nav {
  margin: auto;
  max-width: 100%;
  width: 350px;
  height: 40px;
}

.auth-nav button {
  width: 50%;
  height: 40px;
  border: 1px solid grey;
  outline: none;
}

.auth-nav button:hover,
.auth-nav button:focus {
  cursor: pointer;
}

.active {
  border-bottom: none;
  background-color: white;
}