
.classroom-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.video-player-container {
  color: #fdfdfd;
  font-size: 1.1rem;
}

.video-player {
  width: 100%;
}

.video-header {
  background-color: #181716;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.video-title {
  letter-spacing: 1px;
}

.video-player-container h2 {
  font-family: 'Ubuntu', cursive;
}

.video-recap {
  color: #bdbcbb;
}

.video-header,
.video-footer {
  padding: 1.5em;
}

.video-footer {
  margin-top: -8px;
  background-color: #292C2D;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* media queries */
@media (min-width: 36em) {
  /* testing bgc - disable after */
  /* body {
    background-color: orange;
  } */
}

