.guest-container {
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.gp-container {
  list-style: none;
  display: flex;
}

.gp-container li {
  margin: 10px;
}

.heroImage {
  width: 200px;
  margin:20px;
  height:200px;
}
.landingPageBoxes {
  width: 250px;
  display:inline-block;
  margin:15px;
  text-align:center;
}