
.empty {
  text-align: center;
  margin: auto;
}

.empty button {
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid white;
  background-color: #037EBC;
  color: white;
  height: 30px;
  max-width: 100px;
  width: 100%;
}

.empty button:hover,
.empty button:focus {
  color: #037EBC;
  background-color: #fdfdfd;
  border-color: #037EBC;
  cursor: pointer;
  font-weight: bold;
}

.Paths-Container {
  border:2px solid rgb(29, 30, 31);
  background-color: #292C2D;
  margin:5px;
  padding:15px;
  min-height: 200px;
}

.Paths-Container h2 {
  margin: 0 0 5px 0;
  /* color: rgb(245, 245, 245); */
}

.Paths-Container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.path {
  max-width: 220px;
  margin: 10px;
  text-align: center;
  transition: 0.15s;
  background-color: rgb(61, 61, 61);

  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.path:hover {
  transition: 0.15s;
  transform: scale(1.01);
  -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
}

.path:focus {
  transition: 0.15s;
  transform: scale(1.01);
  -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
}

.path a {
  text-decoration: none;
  color: #ffffff;
}