*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Opens Sans', sans-serif;
  /* background-color: #75DDDD; */
} 

body,
a,
a:visited {
  color: #21201D;
}

/* Font/Color Scheme */
i {
  color: #75DDDD;
  color: #508991;
  color: #172A3A;
  color: #004346;
  color: #09BC8A;

  color: #623CEA;
  color: #FF9505;
  color: #F0E100;
  color: #5CF64A;
}